# ch11. 시계열

## 날짜, 시간 자료형, 도구

In [21]:
import numpy as np
import pandas as pd

In [6]:
from datetime import datetime

In [8]:
now = datetime.now()
now

datetime.datetime(2021, 1, 11, 19, 34, 59, 599383)

In [11]:
now.year, now.month, now.day

(2021, 1, 11)

In [12]:
delta = datetime (2011,1,7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [15]:
delta.days

926

In [16]:
delta.seconds

56700

In [17]:
from datetime import timedelta

In [18]:
start = datetime(2011, 1, 7)

In [19]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [20]:
start -2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

## 문자열을 datetime으로 변환하기

In [22]:
stamp = datetime(2011, 1, 3)

In [23]:
str(stamp)

'2011-01-03 00:00:00'

In [24]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [25]:
value = '2011 - 01 - 03'

In [26]:
datetime.strptime(value, '%Y - %m - %d')

datetime.datetime(2011, 1, 3, 0, 0)

In [27]:
datestrs = ['7/6/2011', '8/6/2011']

In [28]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [29]:
from dateutil.parser import parse

In [30]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [32]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [33]:
parse('6/12/2011', dayfirst = True)

datetime.datetime(2011, 12, 6, 0, 0)

In [34]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [35]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [39]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [40]:
idx[2]

NaT

In [41]:
pd.isnull(idx)

array([False, False,  True])

## 11.2 시계열 기초

In [46]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
        datetime(2011, 1, 7), datetime(2011, 1, 8),
        datetime(2011, 1, 10), datetime(2011, 1, 12)]
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [48]:
ts = pd.Series(np.random.randn(6), index= dates)
ts

2011-01-02   -1.173445
2011-01-05   -0.218227
2011-01-07    0.465873
2011-01-08    1.489159
2011-01-10   -0.166978
2011-01-12    0.476058
dtype: float64

In [49]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [50]:
ts + ts[::2]

2011-01-02   -2.346891
2011-01-05         NaN
2011-01-07    0.931745
2011-01-08         NaN
2011-01-10   -0.333957
2011-01-12         NaN
dtype: float64

In [51]:
ts.index.dtype

dtype('<M8[ns]')

In [52]:
stamp = ts.index[2]

In [53]:
ts[stamp]

0.4658725976109949

In [54]:
ts['1/10/2011']

-0.16697834239488868

In [55]:
ts['20110110']

-0.16697834239488868

In [57]:
longer_ts = pd.Series(np.random.randn(1000),
                     index = pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01   -1.302718
2000-01-02    0.731680
2000-01-03   -1.702689
2000-01-04   -1.874922
2000-01-05    1.074622
                ...
2002-09-22    1.186483
2002-09-23   -0.047873
2002-09-24    1.224848
2002-09-25   -1.037504
2002-09-26    1.192821
Freq: D, Length: 1000, dtype: float64

In [58]:
longer_ts['2001']

2001-01-01    2.139257
2001-01-02    1.375961
2001-01-03   -0.298783
2001-01-04   -1.676563
2001-01-05    0.348466
                ...
2001-12-27    0.648304
2001-12-28   -0.868514
2001-12-29   -1.056614
2001-12-30   -0.351908
2001-12-31    1.098065
Freq: D, Length: 365, dtype: float64

In [59]:
longer_ts['2001-05']

2001-05-01   -0.334699
2001-05-02   -1.727474
2001-05-03   -0.377624
2001-05-04   -0.816464
2001-05-05   -1.084056
2001-05-06   -0.500676
2001-05-07   -0.290305
2001-05-08    0.512255
2001-05-09   -0.392948
2001-05-10    1.933199
2001-05-11    0.282681
2001-05-12   -0.846016
2001-05-13   -0.010271
2001-05-14    0.048598
2001-05-15   -2.002912
2001-05-16    0.844969
2001-05-17    0.398115
2001-05-18    0.574008
2001-05-19   -0.314117
2001-05-20    0.750910
2001-05-21    1.596077
2001-05-22    0.099202
2001-05-23    1.234274
2001-05-24    0.463058
2001-05-25    1.213419
2001-05-26   -0.067345
2001-05-27   -1.200457
2001-05-28   -1.647735
2001-05-29    2.303534
2001-05-30    0.822198
2001-05-31    1.214788
Freq: D, dtype: float64

In [60]:
ts[datetime(2011,1,7):]

2011-01-07    0.465873
2011-01-08    1.489159
2011-01-10   -0.166978
2011-01-12    0.476058
dtype: float64

In [61]:
ts

2011-01-02   -1.173445
2011-01-05   -0.218227
2011-01-07    0.465873
2011-01-08    1.489159
2011-01-10   -0.166978
2011-01-12    0.476058
dtype: float64

In [62]:
ts['1/6/2011': '1/11/2011']

2011-01-07    0.465873
2011-01-08    1.489159
2011-01-10   -0.166978
dtype: float64

In [63]:
ts.truncate(after='1/9/2011')

2011-01-02   -1.173445
2011-01-05   -0.218227
2011-01-07    0.465873
2011-01-08    1.489159
dtype: float64

In [64]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [65]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                      index= dates,
                      columns =['Colorado', 'Texas',
                               'New York', 'Ohio'])

In [66]:
long_df['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  1.475698 -0.095395  1.060761  0.165507
2001-05-09  0.545977  1.325619  1.450321  0.783827
2001-05-16 -0.095212 -0.043106 -0.119286 -0.218613
2001-05-23  0.950627  2.271328 -0.432726  3.573098
2001-05-30  0.136167  0.723706 -1.891491  0.290971

### 중복된 색인을 갖는 시계열

In [67]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                         '1/2/2000', '1/3/2000'])

In [68]:
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [70]:
dup_ts.index.is_unique

False

In [71]:
dup_ts['1/3/2000']

4

In [72]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [77]:
grouped = dup_ts.groupby(level=0)

In [75]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [78]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## 11.3 날짜 범위, 빈도, 이동

In [79]:
ts

2011-01-02   -1.173445
2011-01-05   -0.218227
2011-01-07    0.465873
2011-01-08    1.489159
2011-01-10   -0.166978
2011-01-12    0.476058
dtype: float64

In [80]:
resampler = ts.resample('D')

### 날짜 범위 생성하기

In [81]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [82]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [83]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [84]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [85]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [86]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize= True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### 빈도와 날짜 오프셋

In [87]:
from pandas.tseries.offsets import Hour, Minute

In [90]:
hour = Hour()
hour

In [92]:
four_hours = Hour(4)
four_hours

In [93]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq= '4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [94]:
Hour(2) + Minute(30)

In [95]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [96]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [97]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### 데이터 시프트

In [98]:
ts = pd.Series(np.random.randn(4),
              index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    1.439124
2000-02-29    0.736117
2000-03-31   -1.262738
2000-04-30   -0.257210
Freq: M, dtype: float64

In [99]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    1.439124
2000-04-30    0.736117
Freq: M, dtype: float64

In [100]:
ts.shift(-2)

2000-01-31   -1.262738
2000-02-29   -0.257210
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [101]:
ts.shift(2, freq = 'M')

2000-03-31    1.439124
2000-04-30    0.736117
2000-05-31   -1.262738
2000-06-30   -0.257210
Freq: M, dtype: float64

In [102]:
ts.shift(3, freq='D')

2000-02-03    1.439124
2000-03-03    0.736117
2000-04-03   -1.262738
2000-05-03   -0.257210
dtype: float64

In [103]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    1.439124
2000-02-29 01:30:00    0.736117
2000-03-31 01:30:00   -1.262738
2000-04-30 01:30:00   -0.257210
Freq: M, dtype: float64

### 오프셋만큼 날짜 시프트하기

In [104]:
from pandas.tseries.offsets import Day, MonthEnd

In [105]:
now = datetime(2011, 11, 17)

In [106]:
now + 3* Day()

Timestamp('2011-11-20 00:00:00')

In [107]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [109]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [110]:
offset = MonthEnd()

In [111]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [112]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [113]:
ts = pd.Series(np.random.randn(20),
              index= pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15    0.429911
2000-01-19    1.292780
2000-01-23    0.170073
2000-01-27   -0.247269
2000-01-31   -0.036994
2000-02-04   -0.042458
2000-02-08   -0.050737
2000-02-12   -0.789979
2000-02-16   -1.024372
2000-02-20   -0.881306
2000-02-24   -0.728258
2000-02-28   -1.516771
2000-03-03    0.479705
2000-03-07   -0.106175
2000-03-11    0.167847
2000-03-15    0.872545
2000-03-19    0.872907
2000-03-23    0.663457
2000-03-27   -0.207912
2000-03-31    0.690105
Freq: 4D, dtype: float64

In [115]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.321700
2000-02-29   -0.719126
2000-03-31    0.429060
dtype: float64

In [116]:
ts.resample('M').mean()

2000-01-31    0.321700
2000-02-29   -0.719126
2000-03-31    0.429060
Freq: M, dtype: float64